<!DOCTYPE HTML>
<html>
	<head>
		<title>Unitube App</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <meta name='google-signin-scope' content='profile email'>
        <meta name='google-signin-client_id' content='956875282901-bm5fiq9693oei3230hbksvdsc9qs055k.apps.googleusercontent.com'>
		<link rel="stylesheet" href="static/landing/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="static/landing/assets/css/noscript.css" /></noscript>

        <script src='https://apis.google.com/js/platform.js' async defer></script>
        <script
		  src="https://code.jquery.com/jquery-3.3.1.min.js"
		  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
		  crossorigin="anonymous"></script>



	</head>
	<body class="is-preload">

		<!-- Wrapper -->
			<div id="wrapper" style="background-image:linear-gradient(120deg, #f6d365 0%, #fda085 100%")>

				<!-- Main -->
					<section id="main">
						<header>

						  <span class="avatar"><img id='googleavatar' src="static/landing/images/avatar2.jpg" style="width:100%;" alt="" /></span>
							<h1>Unitube</h1>
							<p>UniTube is an online service that allows users to view a live feed of the comments on any Youtube video. The service is completely free and is ideal for those who want a more community-minded experience when watching YouTube videos. Because it also retrieves various other metrics about a video, it is also great for people without the time to search various sites to retrieve data about a YouTube video.</p>

						</header>
						<hr />
						<h2>!</h2>
						<form method="post" action="#">
							<div class="fields">
							<ul class="actions special">
								<li>
									<a href="unitube" class="button" id="hidbut" style="display:none">Login</a> 
						        <div class='g-signin2' data-onsuccess='onSignIn' data-theme='dark'></div>
								</li>
							</ul>
						</form>
						<hr />
						<footer>
							<ul class="icons">
								<li><a href="https://mobile.twitter.com/UniTube6" class="fa-twitter">Twitter</a></li>
								<li><a href="https://m.facebook.com/UniTube6/" class="fa-facebook">Facebook</a></li>
							</ul>
						</footer>
					</section>

				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright">
							<li>&copy; Team Sea Urchin</li><li>Design: <a href="https://github.com/sumin3/hackday_urchin">HTML5 UP</a></li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script>
				if ('addEventListener' in window) {
					window.addEventListener('load', function() { document.body.className = document.body.className.replace(/\bis-preload\b/, ''); });
					document.body.className += (navigator.userAgent.match(/(MSIE|rv:11\.0)/) ? ' is-ie' : '');
				}
	            function onSignIn(googleUser) {
	                var profile = googleUser.getBasicProfile();
	                console.log('ID: ' + profile.getId());
	                console.log('Full Name: ' + profile.getName());
	                console.log('Given Name: ' + profile.getGivenName());
	                console.log('Family Name: ' + profile.getFamilyName());
	                console.log('Image URL: ' + profile.getImageUrl());
	                console.log('Email: ' + profile.getEmail());
	                $('#email').val(profile.getEmail());
	                $('#googleavatar').attr('src', profile.getImageUrl());
	                var id_token = googleUser.getAuthResponse().id_token;
	                console.log('ID Token: ' + id_token);
			console.log("profile is", profile);
			console.log("id token", id_token);
			window.location = "http://urchin.holberton.us/unitube";
	            }
			</script>

	</body>
</html>
<html lang='en'>
    <head>
    </head>
    <body>
        <script>
        </script>
    </body>
</html>