::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
  -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.listing {
  width: 95%;
  border: 4px solid black;
  border-color: gray;
  border-style: outset;
  border-radius: 4px;
  height: 1200px;
  overflow:scroll;
}


.comments {
  margin: 8px;
  margin-bottom: 8px;
  padding: 9px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 120%;
}
/* blue text */
.style1 {
  background-color: #cee1ff;
  font-family: "Lucida Console", Monaco, monospace;
}

/*gray text */
.style2 {
  background-color: #dbdbdb;
  font-family: "Lucida Console", Monaco, monospace;

}

